@import 'tailwindcss';
@plugin 'daisyui' {
	themes: black;
}

@layer utilities {
	.scrollbar-none {
		-ms-overflow-style: none; /* IE & Edge */
		scrollbar-width: none; /* Firefox */
	}

	.scrollbar-none::-webkit-scrollbar {
		display: none; /* Chrome, Safari */
	}
}
